.project {
    margin-top: 2.5rem;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

.project .date {
    font-size: var(--paragraph-fs);
    flex-basis: 20%;
}

.project .content {
    display: flex;
    flex-direction: column;
    gap: .5em;
    flex-basis: 100%;
}

.project .content .description {
    font-size: var(--paragraph-fs);
 
}

.project .content .dev-langs {
    display: flex;
    align-items: center;
    gap: .5em;
    flex-wrap: wrap;
    list-style: none;
    margin-top: .75em;
}

.project .content .group-links {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.project .content .link {
    margin-top: .35em;
}

.project .content .link a,
.project .content .link a {
    display: flex;
    align-items: center;
    gap: .5em;
    text-decoration: none;
    color: var(--link-text-clr);
    position: relative;
    width: fit-content;
}

.project .content .link a::after,
.project .content .link a::after {
    content: "";
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    height: 2.5px;
    background-color: var(--link-line-clr);
    z-index: 1;
    transition: 0.225s ease;
    transform-origin: left;
}

.project .content .link a:is(:hover, :focus-visible)::after,
.project .content .link a:is(:hover, :focus-visible)::after {
    transform: scaleX(1.1);
}