.hero {
    padding-block: var(--padding-block-container);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.hero .description {
    margin-top: 1em;
}

.hero .navbar {
    line-height: 2.1em;
}

.hero .navbar .menu-list {
    list-style: none;
}

.hero .navbar .menu-list .list  {
    font-weight: bolder;
    width: fit-content;
}

.hero .navbar .menu-list .list a {
    text-decoration: none;
    color: var(--link-text-clr);
    display: flex;
    align-items: center;
    opacity: 0.5;
}

.hero .navbar .menu-list .list a > .line {
    --width: 2rem;
    width: var(--width);
    height: 2.5px;
    background-color: var(--link-line-clr);
    transition: 0.125s ease;
    transform-origin: left;
}

.hero .navbar .menu-list .list a > .name-link {
    margin-left: .5em;
}

.hero .navbar .menu-list .list a:is(:focus-visible, :hover) {
    opacity: 1;
}

.hero .navbar .menu-list .list a.active {
    opacity: 1;
}

.hero .navbar .menu-list .list a.active > .line {
    width: calc(var(--width) * 2);
}

.hero .contact-list {
  margin-top: 1.2em;
  margin-left: 1em;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1.2em;
}

.hero .contact-list .list a {
  text-decoration: none;
  color: var(--link-logo-clr);
  font-size: var(--thirdary-fs);
}

@media screen and (max-width: 1000px) {
    .hero {
        margin-top: var(--padding-block-container);
        justify-content: flex-start;
    }

    .hero .contact-list {
        margin-left: 0;
    }

    .hero .navbar {
        margin-top: 1rem;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        background-color: var(--bg-navbar-clr);
        z-index: 99;
        border-radius: 1em;
        padding-block: .5em;
    }
    
    .hero .navbar .menu-list {
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .hero .navbar .menu-list .list  {
        width: fit-content;
    }

    .hero .navbar .menu-list .list a > .line {
        display: none;
    }
}



