:root {
  --primary-fs: clamp(2rem, 2rem + 2vw, 4rem);
  --secondary-fs: clamp(1.5rem, 1.5rem + 1vw, 3rem);
  --thirdary-fs: clamp(1rem, 1rem + 1vw, 2rem);
  --forth-fs: clamp(.8rem, .8rem + 1vw, 1.6rem);
  --paragraph-fs: clamp(.5rem, .5rem + 1vw, 1.1rem);
  --padding-block-container: 4rem;

  --primary-fw: 700;
  --secondary-fw: 500;
  --thirdary-fw: 300; 

  --primary-text-clr: black;
  --secondary-text-clr: gray;
  --bg-navbar-clr: gainsboro;
  --bg-clr: ghostwhite;
  --bg-toggle-clr: white;
  --shadow-bg-clr: gray;
  --link-text-clr: black;
  --link-line-clr: black;
  --link-logo-clr: black;
  --bg-tag-dev-lang-clr: black;
  --text-tag-dev-lang-clr: white;
}

.app.rainbow-mode {
  --rainbow-clr: linear-gradient(-90deg, rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%);
  --primary-text-clr: var(--rainbow-clr);
  --secondary-text-clr: #c9d1d9;
  --bg-navbar-clr: #051d4d;
  --bg-clr: #0d1117;
  --bg-toggle-clr: #051d4d;
  --shadow-bg-clr: transparent;
  --link-text-clr: #c9d1d9;
  --link-line-clr: #c9d1d9;
  --link-logo-clr: #c9d1d9;
  --bg-tag-dev-lang-clr: #1f6feb;
  --text-tag-dev-lang-clr: #f0f6fc;
  
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  transition: .8s ease;
  color: var(--primary-text-clr);
}

.app.rainbow-mode h1,h2, h3, h4 {
  background: var(--primary-text-clr);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  
}

h1 {
  font-size: var(--primary-fs);
}

h2 {
  font-size: var(--secondary-fs);
}

h3 {
  font-size: var(--thirdary-fs);
}

h4 {
  font-size: var(--forth-fs);
}

p {
  line-height: 1.25em;
}

html {
  
  scroll-behavior: smooth;
}

.app {
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--bg-clr);
  font-size: var(--paragraph-fs);
  position: relative; 
  font-family: 'Open Sans', sans-serif;
  color: var(--secondary-text-clr);
}

.app::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px -30px 80px 0px var(--shadow-bg-clr);
}

.app .container {
  width: min(90%, 70rem);
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  position: relative;
}

.app .toggle-theme {
  position: fixed;
  top: 30px;
  right: 60px;
  display: grid;
  grid-area: 1 / -1;
  cursor: pointer;
  z-index: 999;
}

.app .toggle-theme::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 1em;
  aspect-ratio: 1;
  background-color: var(--bg-toggle-clr);
  border-radius: 50%;
  z-index: -1;
}

.app .toggle-theme > * {
  grid-area: 1 / -1;
}

.app .header {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  height: 100dvh;
  display: grid;
  place-items: center;
}

.app .main {
  padding-block: var(--padding-block-container);
}

.app .main :is(.projects, .contact) {
  margin-top: 2em;
}

.app .main .about .content > * {
  margin-top: .8em;
}

@media screen and (max-width: 1000px) {
  html {
    scroll-padding-top: calc(var(--thirdary-fs) + 3em);
  }

  .app .container {
    grid-template-columns: 1fr;
  }

  .app .toggle-theme {
    right: 50%;
    transform: translateX(50%);
  }

  .app .header {
    position: static;
    height: 100%;
  }

  .app .main {
    padding-block: 0;
    margin-bottom: 6rem;
  }

  .app::before {
    box-shadow: unset;
  }
}
